---
version: '3.7'
services:
  test:
    image: containous/whoami:latest
    container_name: test-docker
    env:
      - "FOO=bar"
      - "BAR=baz"
    volumes:
      - "TEST:/test"
    ports:
      - "80:80"
    networks:
      - default
volumes:
  TEST:
networks:
  default:
