---
name: Validate
# From: https://github.com/luke142367/Docker-Lint-Action
# From: https://github.com/ibiqlik/action-yamllint
# From: https://github.com/reviewdog/action-shellcheck

on:
  push:
    paths-ignore:
      - '.github/'
      - '**/*.md'
    branches: [ main ]
  pull_request:
    paths:
      - '**/*.yaml'
      - '**/*.sh'
      - 'Dockerfile'
      - 'run'
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: 游닌 Checkout the repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: 游닌 Lint Dockerfile
        uses: luke142367/Docker-Lint-Action@v1.0.0
        with:
          target: Dockerfile
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: 游닌 Lint Yaml
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: "."
          config_file: "./.github/yamllint_config.yaml"

      - name: 游닌 Lint Shell Script
        uses: reviewdog/action-shellcheck@v1
        with:
          pattern: "'run' -o -name '*.sh'"
          level: "error"
